@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.9rem;
}

body {
  background: #f4e4c1;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  background: #7a4b2b;
  text-align: center;
  color: #f4e4c1;
  padding: 0.8rem;
}
footer a {
  padding: 0.5rem;
  text-decoration: none;
}

/*ESTILOS PARA ELEMENTOS DE BOOTSTRAP*/
/*INDEX-NAV*/
.mi-nav {
  background-color: #7a4b2b;
}

.titulo-principal {
  font-size: 2rem;
  margin-bottom: 0; /*por bootstrap, las etiquetas p, tiene margin-bootom y se lo saco para que me quede alineado el titulo de la pagina en nav*/
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link, .navbar-brand {
  color: #f4e4c1;
}

.navbar-toggler {
  border-color: #f4e4c1;
}

.navbar-collapse {
  padding: 15px;
}

/*PAGINA SHOP*/
.card-body {
  background-color: #f4e4c1;
}

/*FIN ESTILSO BOOTSTRAP*/
/*PSEUDOCLASES o ANIMACIONES*/
/*BOTONES*/
.boton {
  background-color: #7a4b2b;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  border: 2px solid #422918;
  padding: 0.2rem 1rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.boton:hover {
  background-color: #a06c4a;
}

.boton:active {
  background-color: #422918;
  transform: scale(0.95); /* efecto de presión */
}

/*FIN PSEUDOCLASES*/
/*Clases*/
.parrafos {
  font-style: italic; /* parrafos en cursiva*/
}

.titulo-paginas {
  text-transform: uppercase;
  margin: 1rem;
}

.footer--img {
  margin-top: 0.5rem;
}
.footer--img img {
  width: 2rem;
  flex: 1;
}

/*display flex*/
/*INDEX*/
.nuestro-cafe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: none;
  height: none;
  gap: 1rem;
  padding: none;
}

.nuestro-cafe__texto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: none;
  align-items: flex-start;
  width: 100%;
  height: none;
  gap: 1rem;
  padding: 2rem;
}

.experiencia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: none;
  align-items: flex-start;
  width: none;
  height: none;
  gap: 1rem;
  padding: 2rem;
}

/*PAGINA SHOP*/
.articulos {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*PAGINA CARTA*/
.reparacion {
  width: 100%;
  height: auto;
}

/*$flexWrap,$flexDirection,$justifyContent,$alingItems,$wd,$hg,$gap,$padd*/
/*PAGINA SOBRE NOSOTROS*/
.cont-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: none;
  justify-content: none;
  align-items: none;
  width: none;
  height: none;
  gap: 1rem;
  padding: 0 2rem 1rem;
}
.cont-about img {
  width: 100%;
}
.cont-about .about__text {
  margin-top: 1rem;
}

/*PAGINA FORMULARIO*/
.formulario {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70vh;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  background: #e6d6b8;
  border-radius: 10px;
  gap: 0.5rem;
}

.form__titulo {
  text-align: center;
  text-transform: uppercase;
}

input, textarea {
  padding: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 6px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #7a4b2b;
  box-shadow: 0 0 0 1px rgba(117, 53, 23, 0.493);
}

input:focus-visible, textarea:focus-visible {
  background-color: rgba(189, 135, 99, 0.7058823529);
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  accent-color: #7a4b2b;
  cursor: pointer;
}

input, textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

/*MEDIAQUERYS*/
/*TABLET 768*/
@media (min-width: 768px) {
  /*INDEX*/
  /*ESTILOS PARA BOOTSTRAP*/
  #carouselExampleCaptions img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  /*PAGINA SHOP*/
  .articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .articulos__producto img {
    width: 40%;
  }
  /*PAGINA SOBRE NOSOTROS*/
  .cont-about-card1, .cont-about-card2 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .about__img {
    width: 40%;
  }
  .about__text {
    flex: 1;
    width: 100%;
  }
  /*PAGINA CARTA*/
  .contenedor-carta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .reparacion {
    width: 100%;
    height: auto;
  }
}
/*MEDIAQUERYS*/
/*DESKTOP 1025*/
@media (min-width: 1024px) {
  html {
    font-size: 1.2rem;
  }
  /*INDEX*/
  .parrafos {
    margin: 1rem 0;
  }
  #carouselExampleCaptions {
    display: flex;
    align-items: center;
  }
  /*PAGINA CARTA*/
  .contenedor-carta {
    grid-template-columns: repeat(4, 1fr);
  }
  /*PAGINA SOBRE NOSOTROS*/
  .cont-about-card1, .cont-about-card2 {
    margin: 0 10rem;
  }
  /*TIENDA*/
  .articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
